{% extends 'base2.html' %} {% load static %} {% block content %}

<section class="section-conten padding-y" style="min-height:84vh;background-color:#212529;animation-duration: 1s; animation-timing-function: ease-in-out; animation-delay: 0s;
animation-iteration-count: 1;animation-name: slideInRight;">

<!-- ============================ COMPONENT LOGIN   ================================= -->



	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">

      <div class="card-body">
      <h4 class="card-title mb-4"><b>Reset Password</b></h4>
      {% include 'includes/alerts.html' %}
      <form action="{% url 'resetPassword' %}" method="POST" style="margin-left:-3px;" >
        {% csrf_token %}
          <div class="form-group">
			 <input type="password" class="form-control" placeholder="Create Password" name="password">
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
          </div> <!-- form-group// -->


          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Reset  </button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4 " style="color:white;">Don't have account? <a href="{% url 'register' %}"><b>Sign up</b></a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
{% endblock %}